.u-display-flex {
    display: flex;

    li {
        margin-right: 1rem;
    }
}

.u-justify-content-space-between {
    justify-content: space-between;
}

.u-align-items-center {
    align-items: center;
}