.u-flex-direction-row\@tablet {
    flex-direction: column;

    @include breakpoint(tablet) {
        flex-direction: row;
    }
}

.u-display-flex {
    display: flex;
    align-items: center;

    li {
        margin-right: 1rem;
    }
}

.u-justify-content-space-between {
    justify-content: space-between;
}

.u-align-items-center {
    align-items: center;
}

.u-background-dark {
    background-color: var(--black);
}