/** TABLE OF CONTENTS
------------------------------------------------------------/
1 - Reset
2 - Colors
3 - Navigation
/// END TABLE OF CONTENTS **/

@import 'func';
@import 'mixin';
@import 'colors';
@import 'utilities';
@import 'nav';
@import 'socials';

html {
    font-size: 100%
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    font-weight: 300;
    background-color: var(--black);
    color: var(--white);
}

main {
    width: 100%;
    padding: 20px;
    
    @include breakpoint(tablet) {
        max-width: 850px;
        margin: 0 auto;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 400;
}

h1 {
    font-size: rem(50px);
}

h2 {
    letter-spacing: -0.5px;
    font-size: rem(32px);
    @include breakpoint(tablet) {
        font-size: rem(44px);
    }
}

h3 {
    font-size: rem(38px);
}

h4 {
    font-size: rem(32px);
}

h5 {
    font-size: rem(26px);
}

h6 {
    font-size: rem(20px);
}

div:not(.social__header) a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: var(--white);
    background-image: linear-gradient( 0deg
,rgba(108, 79, 206,.8) 0,rgba(108, 79, 206,.8) 30%,transparent 40%,transparent);
}

img {
    width: 100%;
    height: auto;
}

svg {
    display: block;
    fill: var(--purple);
    @include fade;

    &:hover {
        fill: var(--blue);
    }
}

hr {
    margin: 48px 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(249, 239, 239, 0), rgba(249, 239, 239, 0.75), rgba(249, 239, 239, 0));
}

/* Text meant only for screen readers. */
.screen-reader-only {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.bio {
    text-align: center;

    @include breakpoint(tablet) {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 30px;
    }

    h2 {
        font-size: rem(32px);
    }
}

.bio__image-webtoon {
    max-width: rem(250px);
    margin-bottom: rem(16px);
}

.bio__logo {
    margin-bottom: 0;
    margin-top: 1rem;
    img {
        width: auto;
    }
}

.bio__tagline {
    font-size: rem(18px);
    line-height: 1.2;

    @include breakpoint(tablet) {
        font-size: rem(22px);
    }
}
