/** TABLE OF CONTENTS
------------------------------------------------------------/
1 - Reset
2 - Colors
3 - Navigation
/// END TABLE OF CONTENTS **/


@import 'reset';
@import 'func';
@import 'mixin';
@import 'colors';
@import 'utilities';
@import 'nav';
@import 'socials';

html {
    font-size: 100%
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Carrois Gothic SC', sans-serif;
    margin-bottom: 1rem;
}

h1 {
    font-size: rem(50px);
}

h2 {
    font-size: rem(32px);
    @include breakpoint(tablet) {
        font-size: rem(44px);
    }
}

h3 {
    font-size: rem(38px);
}

h4 {
    font-size: rem(32px);
}

h5 {
    font-size: rem(26px);
}

h6 {
    font-size: rem(20px);
}

a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

svg {
    display: block;
    fill: var(--purple);
    @include fade;

    &:hover {
        fill: var(--blue);
    }
}

/* Text meant only for screen readers. */
.screen-reader-only {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.bio {
    padding: 20px;
    color: var(--white);
    text-align: center;
}

.bio__image-webtoon {
    max-width: rem(250px);
    margin-bottom: rem(16px);
}
