/* Anchors */
a {
    color: #5CBEFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway',sans-serif;
    margin-top: 2rem;
} 

p {
    margin-bottom: 1rem;
}

@media ( min-width: 600px ) {
    html {
        /* Set Base Font to 18px */
        font: 112.5%/1.75 'Raleway',sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 3.5rem;
    }

    p {
        margin-bottom: 1.75rem;
    }
  }